<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>FeelTong</title>
    <link rel="stylesheet" th:href="@{main/css/style_base.css}"> <!-- 베이스 스타일 시트 -->
    <link rel="stylesheet" th:href="@{main/css/style_main.css}"> <!-- 메인 스타일 시트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 제이쿼리 -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> <!-- 메인롤링배너 -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> <!-- 메인롤링배너 -->
    
     <!-- 각 페이지의 script가 작성될 위치 -->
    <th:block layout:fragment="script"></th:block>
    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <div th:replace="fragments/header::header"></div>

    <div layout:fragment="content" class="content"></div>

    <div th:replace="fragments/footer::footer"></div>
</body>
</html>